@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@layer base {
  @font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 300;
    font-display: optional;
    src: url(/static/fonts/FiraCode/light-mono.ttf) format("truetype");
  }

  @font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: normal;
    font-display: optional;
    src: url(/static/fonts/FiraCode/regular-mono.ttf) format("truetype");
  }

  @font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 500;
    font-display: optional;
    src: url(/static/fonts/FiraCode/medium-mono.ttf) format("truetype");
  }

  @font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url(/static/fonts/FiraCode/bold-mono.ttf) format("truetype");
  }

  @font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url(/static/fonts/FiraCode/bold-mono.ttf) format("truetype");
  }

  html {
    @apply font-mono /* force monospace everywhere */
  }
}

html {
  color-scheme: dark; /* force dark mode for now */
}

.cursor-box em:after {
  content: "";
  width: 5px;
  height: 24px;
  background: theme(colors.foreground);
  display: inline-block;
}


@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.cursor-box em:after {
    animation: cursor-blink 1.5s steps(2) infinite;
}
